// Restet the styling of the page - delete all inherited padding and margins

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f8f8f8;
  &::-webkit-scrollbar{
    width: none;
  }
}

/* ------ variables ------*/
@import "items/variables";
@import "items/typography";
@import "items/classes";
@import "items/buttons";

/* ------ sections ------*/

@import "sections/nav";
@import "sections/main";
@import "sections/footer";
@import "sections/form";
@import "sections/grid";
@import "sections/table";
@import "sections/recipe";
@import "sections/settings";
