/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- CLASSES  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.hidden {
  display: none;
  visibility: hidden;
}
.space{
  @media  screen and (max-width: $bp-small) {
    display: none;
    visibility: hidden;
  }
}
