/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- CLASSES  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.hidden {
  display: none;
  visibility: hidden;
}
.space {
  @media screen and (max-width: $bp-medium) {
    display: none;
    visibility: hidden;
  }
}

.active {
  border-bottom: 2px solid $color-gold;
}

.padding {
  padding-top: 5rem;
}
