/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- TYPOGRAPHY  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap");

$font: "Noto Sans JP", sans-serif;

$font-size-lists: 1.6rem;
$font-size-copy: 2rem;
$font-size-button: 2.4rem;
$font-size-heading: 4.8rem;

h1 {
  font-family: $font;
  font-size: $font-size-heading;
  font-weight: 800;
}

h2 {
  font-family: $font;
  font-size: $font-size-button;
}

h3 {
  font-family: $font;
  font-size: $font-size-copy;
  font-weight: 100;
}

p {
  font-family: $font;
  font-size: $font-size-copy;
}

li {
  font-size: $font-size-lists;
  font-family: $font;
  list-style-type: circle;
}
