/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Variables  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

// ----------- Colours --------- //

// Brand colours
$color-gold: #efc600;
$color-blue: #224a95;
$color-highlight: #0029ef;

// Background colour
$color-backgound: #f8f8f8;

// Text Colour
$color-text: #2b2b2b;
$color-text-grey:#707070;
