/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- GRID  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.grid {
  &-1 {
    display: grid;
    grid-template-columns: 6fr minmax(30rem, 1fr);
  }

  &-2 {
    display: grid;
    grid-template-rows: 6rem auto;
    height: 85vh;
  }


  &-3{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }

  &-4{
      display: grid;
      grid-template-rows: repeat(4,1fr);
      height: 100%;
  }

  &-weekly {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
