/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- GRID  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.grid {
  &-1 {
    display: grid;
    grid-template-columns: 6fr minmax(30rem, 1fr);
  }

  &-2 {
    display: grid;
    grid-template-rows: 6rem auto;
    height: 85vh;
  }


  &-3{
      margin: auto;
      display: grid;
      grid-template-columns: .5fr 1fr 9fr .5fr ;
      height: 60vh
      
  }

  &-4{
      display: grid;
      grid-template-rows: repeat(4,1fr);
      height: 100%;
  }

  &-weekly {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, minmax(mincontent 1fr));
    grid-column-gap: 2rem;
  }
  &-daily{
    display: grid;
    width: 30rem;
    grid-column-gap: 2rem;
  }
}
