.main {
  display: grid;
  grid-template-columns: 1fr minmax(650px, auto) 1fr;
  justify-items: center;
  align-content: center;

  &__center {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__img {
        
      display: flex;
      flex-direction: row;

      &-pods {
        margin-top: 5rem;
        height: 20rem;
      }

      &-logo {
        height: 30rem;
      }

      &-avo{
          height: 15rem;
      }
    }

    &-welcomeMessage {
      width: 80%;
      margin: 4rem;
      text-align: center;
    }

    &-btn {
      display: flex;
      width: 30rem;
      height: 5rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__right {
    border-left: 7rem solid $color-blue;
  }
}
