/////////////// MAIN SECTION ////////////////

.main {
  padding-top: 3%;
  background-color: $color-backgound;

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
      display: flex;
      justify-content: center;
      @media screen and (max-width: $bp-medium) {
        flex-direction: column-reverse;
      }
      &-pods {
        margin-top: 5rem;
        height: 20rem;
        @media screen and (max-width: $bp-medium) {
          height: 5rem;
          margin-left: auto;
        }
      }

      &-logo {
        height: 30rem;
      }

      &-avo {
        height: 15rem;
        @media screen and (max-width: $bp-medium) {
          height: 5rem;
          margin-right: auto;
          // display: none;
        }
      }
      @media screen and (max-width: $bp-large) {
        &-pods {
          margin-top: 5rem;
          height: 10rem;
        }

        &-logo {
          height: 20rem;
          margin-left: 2rem;
          padding-left: 4rem;
          @media screen and (max-width: $bp-medium) {
            padding: 0;
            margin-left: 0;
          }
        }

        &-avo {
          height: 15rem;
        }
      }
    }

    &-welcomeMessage {
      width: 80%;
      margin: 3rem auto 3rem auto;
      text-align: center;
    }

    &-btn {
      display: flex;
      width: 30rem;
      height: 5rem;
      justify-content: center;
      align-items: center;
      margin: 0 auto 4rem auto;
    }
  }
}
