/////////////// MAIN SECTION ////////////////

.main {
  height: 650px;
  padding-top: 5%;
  background-color: $color-backgound;


  &__center {
    height: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
      display: flex;
      @media screen and (max-width: $bp-medium) {
        flex-direction: column-reverse;
      }
      &-pods {
        margin-top: 5rem;
        height: 20rem;
        @media screen and (max-width: $bp-medium) {
          height: 5rem;
          margin-left: auto;
          // display: none;
        }
      }

      &-logo {
        height: 30rem;
      }

      &-avo {
        height: 15rem;
        @media screen and (max-width: $bp-medium) {
          height: 5rem;
          margin-right: auto;
          // display: none;
        }
      }
      @media screen and (max-width: $bp-large) {
        &-pods {
          margin-top: 5rem;
          height: 10rem;
        }

        &-logo {
          height: 20rem;
          margin-left: 2rem;
          padding-left: 4rem;
          @media screen and (max-width: $bp-medium) {
            padding: 0;
            margin-left: 0;
          }
        }

        &-avo {
          height: 15rem;
        }
      }
    }

    &-welcomeMessage {
      width: 80%;
      margin: 4rem;
      text-align: center;
      @media screen and (max-width: $bp-large) {
        width: 60%;
      }
      @media screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }

    &-btn {
      display: flex;
      width: 30rem;
      height: 5rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__right {
    border-left: 7rem solid $color-blue;
    padding: 2rem;
    @media screen and (max-width: $bp-medium) {
      height: 10rem;
    }
    &-delete,
    &-settings {
      width: 100%;
      margin: 10% auto auto auto;
    }
    &-delete {
      @media screen and (max-width: $bp-large) {
        width: 40%;
      }
    }
    @media screen and (max-width: $bp-large) {
      border-left: none;
      border-top: 1rem solid $color-blue;
      display: flex;
      height: 5rem;

      &-settings {
        width: 20%;
        margin: 0;
        height: 4rem;
        @media screen and (max-width: $bp-medium) {
          width: 30%;
        }
      }
    }
  }
}
