/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- NAV  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: $color-backgound;

  &__logo {
    height: 9rem;
    width: 9rem;
    padding-top: 1rem;
  }

  &__list {
    display: flex;
    margin: 0 auto 0 auto;
    &-li {
      text-decoration: none;
      list-style-type: none;
      font-size: $font-size-button;
      font-family: $font;
      color: $color-blue;

      margin: auto 3rem 0 0;
      &-link {
        text-decoration: none;
      }
    }
  }
}
