/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- NAV  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/

.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;

  &__logo {
    height: 9rem;
    width: 9rem;
    padding-top: 1rem;
  }

  &__list {
    display: flex;
    margin: 0 auto 0 auto;
    &-li {
      text-decoration: none;
      list-style-type: none;
      font-size: $font-size-button;
      font-family: $font;
      color: $color-blue;

      margin: auto 3rem 0 0;
      &-link {
        text-decoration: none;
      }
    }
  }

  // &__input {
  //   width: 30%;
  //   margin-left: auto;
  //   text-align: center;
  //   @media screen and (max-width: $bp-small) {
  //     display: flex;
  //     width: 100%;
  //     &-header {
  //       width: 45%;
  //     }
  //   }
  // }
  // &__btn {
  //   width: 10rem;
  //   margin-right: 2rem;
  //   margin-top: 1rem;
  // }
  // &__save-btn {
  //   width: 10rem;
  //   text-align: center;
  //   margin-right: 1rem;
  // }
  // input[type="text"] {
  //   margin-left: 2rem;
  //   padding: none;
  //   border-style: none;
  //   border-bottom: 2px solid $color-blue;
  //   background-color: $color-backgound;
  //   font-family: $font;
  //   transition: all 0 ease;
  //   -webkit-transition: all 0 ease;
  //   -moz-transition: all 0 ease;
  //   -ms-transition: all 0 ease;
  //   -o-transition: all 0 ease;
  //   &:focus {
  //     border-style: none;
  //     outline: none;
  //     border-bottom: 2px solid $color-gold;
  //   }
  // }
}
