.options {
  display: flex;
  flex-direction: column;

  &__question {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: $font-size-copy;
    font-family: $font;

    &-header {

    }
    &-btn{
      @media screen and (max-width:$bp-medium){
        width: 40%;
      }

    }

    select{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
  }
}
