.recipe {
  padding: 3rem;
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-logo {
      height: 10rem;
    }
    &-header {
      color: $color-text-grey;
      font-size: $font-size-button;
      width: 35%;
      text-align: center;
      margin-right: 20%;
    }
  }

  &__card {
    display: flex;

    &__info {
        margin-right: 10%;
      &-img {
        width: 100%;
        border: 2px solid $color-gold;
      }
      &__basic {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__portion {
          &-time {
          }
          &-serving {
          }
        }
        &__web{

            &-link {
            }
            &-dietary{

            }
        }
        &-ingrediants{
            
        }
      }

    }
    &__method {
      margin: auto;
      
      &-h2 {
          margin-bottom: 2rem;
      }
      &-p {
        
      }
    }
  }
  &__right{
    border-left: 5rem solid $color-blue;

    &-close {
      font-size: 4rem;
      color: $color-gold;
      padding-left: 85%;
      :hover {
        color: $color-blue;
      }
    }
  }
}
