.recipe {
  width: 80%;
  height: 650px;

  &__links {
    display: flex;
    list-style-type: none;
    font-size: $font-size-button;
    justify-content: space-between;

    &-link {
      margin-right: 3rem;
      margin-left: 3rem;
      font-family: $font;
      color: $color-blue;
      text-decoration: none;
    }
  }
  &__nav {
    text-align: center;
    margin-bottom: 3rem;

    &__input {
      &-header {
        text-align: center;
      }
      input[type="text"] {
        margin: 2rem;
        border-style: none;
        border-bottom: 2px solid $color-blue;
        background-color: $color-backgound;
        font-family: $font;

        &:focus {
          border-style: none;
          outline: none;
          border-bottom: 2px solid $color-gold;
        }
      }
      &-save {
        margin-top: 3rem;
        width: 8rem;
      }
    }
  }
  &__head-header {
    text-align: center;
  }
  &__card {
    display: grid;
    grid-template-columns: 1fr auto;
    &__wrapper {
      display: flex;
      justify-content: space-around;
    }
    &__info {
      &__basic {
        &__portion {
          display: flex;
        }
      }
      &-img {
        height: 30%;
      }
      &-ingredients {
        display: grid;
        grid-template-columns: repeat(4 1fr);
      }
    }
  }
}
