/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- SETTINGS  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.settings {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (max-width: $bp-small) {
    width: 90%;
    justify-content: start;
  }

  &__question {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: $font-size-copy;
    font-size: $font;
    @media screen and (max-width: $bp-small){
      margin-bottom: 3rem;
    }

    &-header {
      font-size: $font-size-copy;
    }
    &-btn {
      width: 30%;
      @media screen and (max-width: $bp-small){
        margin-bottom: 3rem;
      }
    }

    select {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  
  &__buttons {
    display: flex;
    justify-content: space-evenly;
    &-btn{
      width: 10rem;
      &-clearStorage{
        width: 30%;
        margin: 10rem auto 10rem auto;

        @media screen and (max-width: $bp-small){
          width: 100%;
        }
      }
    }
  }
  &__hidden {
    display: none;
    visibility: hidden;
    @media screen and (max-width: $bp-medium) {
      display: inline;
      visibility: visible;
    }
  }
  &__shown {
    @media screen and (max-width: $bp-medium) {
      display: none;
      visibility: hidden;
    }
  }
}
