.table {
  margin: auto;
  padding: 2rem;

  &__links {
    margin: auto;
    display: flex;
    list-style-type: none;
    font-size: $font-size-button;
    justify-content: space-between;
    &-link {
      margin-right: 3rem;
      margin-left: 3rem;
      font-family: $font;
      color: $color-blue;
      text-decoration: none;
    }
  }
  &__nav {
    text-align: center;
    margin-bottom: 3rem;

    &__input {
      input[type="text"] {
        margin: 2rem;
        border-style: none;
        border-bottom: 2px solid $color-blue;
        background-color: $color-backgound;
        font-family: $font;

        &:focus {
          border-style: none;
          outline: none;
          border-bottom: 2px solid $color-gold;
        }
      }
      &-save {
        margin-top: 3rem;
        width: 8rem;
      }
    }
  }

  &__meals {
    font-size: $font-size-copy;
    color: $color-blue;
    padding-top: 5rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }

  &__weekly-cell,
  &__daily-cell {
    height: 10rem;
    display: flex;
    border-right: 2px solid $color-blue;
    border-bottom: 2px solid $color-blue;
    color: $color-blue;
    font-size: $font-size-copy;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-overflow: ellipsis;
    &:hover {
      color: $color-gold;
    }
  }
}
