@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* ------ variables ------*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Variables  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- TYPOGRAPHY  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 1200px) and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4.8rem;
  font-weight: 800;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
}

li {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  list-style-type: circle;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- BUTTON  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.btn,
input[type=submit] {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  color: #2b2b2b;
  background-color: #efc600;
  border: 1px solid #2b2b2b;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- CLASSES  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .space {
    display: none;
    visibility: hidden;
  }
}

/* ------ sections ------*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- GRID  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.grid-1 {
  display: grid;
  grid-template-columns: 6fr minmax(30rem, 1fr);
}
@media screen and (max-width: 1200px) {
  .grid-1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .grid-1 {
    height: auto;
  }
}
.grid-2 {
  display: grid;
  grid-template-rows: auto auto;
  height: 85vh;
}
@media screen and (max-width: 1200px) {
  .grid-2 {
    height: 75vh;
  }
}
@media screen and (max-width: 600px) {
  .grid-2 {
    height: auto;
  }
}
.grid-3 {
  margin: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 9fr 0.5fr;
  height: 60vh;
  width: 100vw;
}
@media screen and (max-width: 600px) {
  .grid-3 {
    margin-bottom: 6rem;
    margin-top: 6rem;
    height: 100vh;
  }
}
.grid-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}
@media screen and (max-width: 600px) {
  .grid-4 {
    display: flex;
  }
}
.grid-weekly {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, minmax(min-content 1fr));
  grid-column-gap: 2rem;
}
@media screen and (max-width: 600px) {
  .grid-weekly {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: 2rem;
  }
}
.grid-daily {
  display: grid;
  width: 30rem;
  grid-column-gap: 2rem;
}
.grid-form {
  display: grid;
  grid-template-columns: 6fr minmax(30rem, 1fr);
}
@media screen and (max-width: 1200px) {
  .grid-form {
    display: flex;
    flex-direction: column;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- NAV  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .nav {
    flex-direction: column;
    align-content: center;
  }
}
.nav-logo {
  height: 5rem;
}
@media screen and (max-width: 1200px) {
  .nav-logo {
    height: 9rem;
    width: 9rem;
    padding-top: 1rem;
  }
}
.nav__logo-logo {
  height: 5rem;
}
.nav__buttons {
  margin-left: auto;
}
.nav__input {
  width: 30%;
  margin-left: auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .nav__input {
    display: flex;
    width: 100%;
  }
  .nav__input-header {
    width: 45%;
  }
}
.nav__btn {
  width: 10rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
.nav__save-btn {
  width: 10rem;
  text-align: center;
  margin-right: 1rem;
}
.nav input[type=text] {
  margin-left: 2rem;
  padding: none;
  border-style: none;
  border-bottom: 2px solid #224a95;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
  transition: all 0 ease;
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  -o-transition: all 0 ease;
}
.nav input[type=text]:focus {
  border-style: none;
  outline: none;
  border-bottom: 2px solid #efc600;
}

.main {
  display: grid;
  grid-template-columns: 1fr minmax(650px, auto) 1fr;
  justify-items: center;
  align-content: center;
}
@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .main {
    height: auto;
  }
}
.main__center {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .main__center {
    height: 80%;
  }
}
@media screen and (max-width: 600px) {
  .main__center {
    width: 100%;
    height: 80vh;
  }
}
.main__center__img {
  display: flex;
}
@media screen and (max-width: 600px) {
  .main__center__img {
    flex-direction: column-reverse;
  }
}
.main__center__img-pods {
  margin-top: 5rem;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .main__center__img-pods {
    height: 5rem;
    margin-left: auto;
  }
}
.main__center__img-logo {
  height: 30rem;
}
.main__center__img-avo {
  height: 15rem;
}
@media screen and (max-width: 600px) {
  .main__center__img-avo {
    height: 5rem;
    margin-right: auto;
  }
}
@media screen and (max-width: 1200px) {
  .main__center__img-pods {
    margin-top: 5rem;
    height: 10rem;
  }
  .main__center__img-logo {
    height: 20rem;
    margin-left: 2rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 1200px) and (max-width: 600px) {
  .main__center__img-logo {
    padding: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .main__center__img-avo {
    height: 15rem;
  }
}
.main__center-welcomeMessage {
  width: 80%;
  margin: 4rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .main__center-welcomeMessage {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .main__center-welcomeMessage {
    width: 100%;
  }
}
.main__center-btn {
  display: flex;
  width: 30rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.main__right {
  border-left: 7rem solid #224a95;
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .main__right {
    height: 10rem;
  }
}
.main__right-delete, .main__right-settings {
  width: 100%;
  margin: 10% auto auto auto;
}
@media screen and (max-width: 1200px) {
  .main__right {
    border-left: none;
    border-top: 1rem solid #224a95;
    display: flex;
    height: 5rem;
  }
  .main__right-settings {
    width: 20%;
    margin: 0;
    height: 4rem;
  }
}
@media screen and (max-width: 1200px) and (max-width: 600px) {
  .main__right-settings {
    width: 30%;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- MODAL  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #f8f8f8;
  width: 80%;
  height: 80%;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  .form {
    height: 100%;
    width: 100%;
  }
}
.form__logo {
  width: 10rem;
}
.form__header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  .form__header {
    margin-top: 3rem;
    font-size: 4rem;
  }
}
.form__paragraph {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}
.form__input {
  margin-left: 10%;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .form__input {
    margin: 0;
    padding: 1rem;
  }
}
.form__question {
  display: flex;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .form__question {
    flex-direction: column;
  }
}
.form__right {
  border-left: 5rem solid #224a95;
}
@media screen and (max-width: 600px) {
  .form__right {
    border-left: none;
    border-top: 1rem solid #224a95;
    display: flex;
    height: 5rem;
  }
}
.form__right-close {
  font-size: 4rem;
  color: #efc600;
  padding-left: 85%;
}
.form__right-close :hover {
  color: #224a95;
}
.form-btn {
  margin-top: 2rem;
  text-transform: capitalize;
  width: 35%;
  height: 4rem;
}
.form input[type=text],
.form input[type=number],
.form select {
  margin-left: 2rem;
  padding: none;
  border-style: none;
  border-bottom: 2px solid #224a95;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
  transition: all 0 ease;
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  -o-transition: all 0 ease;
}
.form input[type=text]:focus,
.form input[type=number]:focus,
.form select:focus {
  border-style: none;
  outline: none;
  border-bottom: 2px solid #efc600;
}
@media screen and (max-width: 600px) {
  .form input[type=text],
.form input[type=number],
.form select {
    width: 30%;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.table__weekly, .table__daily {
  border-left: 2px solid #224a95;
}
.table__weekly, .table__daily, .table__left {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  color: #224a95;
}
.table__meals {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
@media screen and (max-width: 600px) {
  .table__meals {
    display: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}
.table__weekly-cell, .table__daily-cell {
  display: flex;
  border-right: 2px solid #224a95;
  border-bottom: 2px solid #224a95;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-overflow: ellipsis;
}
.table__weekly-cell:hover, .table__daily-cell:hover {
  color: #efc600;
}

.days {
  font-weight: bold;
}
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- FOOTER  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.footer {
  height: 15vh;
  background-image: url(../images/jpg/footer-img@2x.jpg);
  background-position: center;
  background-size: cover;
}

.recipe {
  padding: 3rem;
}
.recipe__save-btn {
  height: 3rem;
  width: 8rem;
  margin: auto;
}
.recipe__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .recipe__head {
    flex-direction: column;
  }
}
.recipe__head-logo {
  height: 10rem;
}
@media screen and (max-width: 600px) {
  .recipe__head-logo {
    width: 10rem;
  }
}
.recipe__head-header {
  color: #707070;
  font-size: 2.4rem;
  width: 35%;
  text-align: center;
  margin-right: 20%;
}
@media screen and (max-width: 600px) {
  .recipe__head-header {
    width: 100%;
  }
}
.recipe__card {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 3rem;
}
.recipe__card__info-img {
  width: 100%;
  border: 2px solid #efc600;
}
.recipe__card__info__basic {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;
}
.recipe__card__info__basic__portion {
  display: flex;
  justify-content: space-between;
}
.recipe__card__info__web {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe__card__info-ingrediants {
  padding-left: 2rem;
  text-overflow: ellipsis;
}
.recipe__card__method {
  margin: 0 auto;
  text-overflow: ellipsis;
}
.recipe__card__method-h2 {
  margin-bottom: 2rem;
}
.recipe__card__method-p {
  font-size: 1.6rem;
}
.recipe__right {
  border-left: 5rem solid #224a95;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .recipe__right {
    border-top: 1rem solid #224a95;
    border-left: none;
  }
}
.recipe__right-close {
  font-size: 4rem;
  color: #efc600;
  padding-left: 85%;
}
.recipe__right-close :hover {
  color: #224a95;
}
@media screen and (max-width: 600px) {
  .recipe__right-close {
    display: none;
    visibility: hidden;
  }
}
.recipe__right__buttons {
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}
.recipe__right__buttons-btn {
  width: 100%;
  height: 5rem;
}
@media screen and (max-width: 600px) {
  .recipe__right__buttons-btn {
    width: 50%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.settings {
  padding: 3rem;
}
.settings__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.settings__head-close {
  display: none;
  visibility: hidden;
  font-size: 4rem;
  color: #efc600;
}
.settings__head-close :hover {
  color: #224a95;
}
@media screen and (max-width: 600px) {
  .settings__head-close {
    display: inline;
    visibility: visible;
  }
}
.settings__head-logo {
  height: 10rem;
}
.settings__head-header {
  color: #707070;
  font-size: 2.4rem;
  width: 35%;
  text-align: center;
  margin-right: 20%;
}
.settings-emptyArray {
  grid-column: 1/span 3;
}
.settings__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  margin: auto;
}
.settings__container-header {
  width: 100%;
}
.settings__container-recipe, .settings__container-plan {
  text-transform: capitalize;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -moz-text-decoration-style: none;
  display: flex;
}
.settings__container-recipe-break, .settings__container-plan-break {
  width: 100%;
  height: 1rem;
  border-bottom: 2px solid #efc600;
}
.settings__container-recipe-edit, .settings__container-recipe-delete, .settings__container-plan-edit, .settings__container-plan-delete {
  align-self: center;
  font-size: 2rem;
  margin-left: 0.5rem;
  color: #224a95;
}
.settings__container-recipe-edit:hover, .settings__container-recipe-delete:hover, .settings__container-plan-edit:hover, .settings__container-plan-delete:hover {
  color: #efc600;
}
.settings__container-recipe-item, .settings__container-plan-item {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}
.settings__right {
  border-left: 5rem solid #224a95;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .settings__right {
    border: none;
  }
}
.settings__right-close {
  font-size: 4rem;
  color: #efc600;
  padding-left: 85%;
}
.settings__right-close :hover {
  color: #224a95;
}
@media screen and (max-width: 600px) {
  .settings__right-close {
    display: none;
    visibility: hidden;
  }
}
.settings__right__buttons {
  display: flex;
  margin-top: 3rem;
  padding: 2rem 1rem 2rem 1rem;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}
@media screen and (max-width: 600px) {
  .settings__right__buttons-right {
    display: flex;
  }
  .settings__right__buttons-left {
    display: flex;
  }
}
.settings__right__buttons-btn {
  width: 100%;
  height: 5rem;
}
@media screen and (max-width: 600px) {
  .settings__right__buttons-btn {
    width: 40%;
    margin: 3rem auto 0rem auto;
  }
}

/*# sourceMappingURL=style.css.map */
