@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f8f8f8;
}

/* ------ variables ------*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- Variables  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- TYPOGRAPHY  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 1200px) and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4.8rem;
  font-weight: 800;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
}

li {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  list-style-type: circle;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- CLASSES  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .space {
    display: none;
    visibility: hidden;
  }
}

.active {
  border-bottom: 2px solid #efc600;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- BUTTON  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.btn,
input[type=submit] {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  color: #2b2b2b;
  background-color: #efc600;
  border: 1px solid #2b2b2b;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
}

/* ------ sections ------*/
/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- NAV  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #f8f8f8;
}
.nav__logo {
  height: 9rem;
  width: 9rem;
  padding-top: 1rem;
}
@media screen and (max-width: 600px) {
  .nav__logo {
    display: none;
  }
}
.nav__list {
  display: flex;
  margin: 0 auto 0 auto;
}
.nav__list-li {
  text-decoration: none;
  list-style-type: none;
  font-size: 2.4rem;
  margin: auto 3rem 0 0;
}
.nav__list-li-link {
  font-family: "Noto Sans JP", sans-serif;
  color: #224a95;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- MAIN SECTION  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.main {
  padding-top: 3%;
  background-color: #f8f8f8;
  height: 70vh;
}
@media screen and (max-width: 600px) {
  .main {
    height: 160vh;
  }
}
.main__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}
@media screen and (max-width: 600px) {
  .main__center {
    margin: 15rem 0 0 0;
    justify-content: start;
  }
}
.main__center__img {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .main__center__img {
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
  }
}
.main__center__img-pods {
  margin-top: 5rem;
  height: 20rem;
}
@media screen and (max-width: 900px) {
  .main__center__img-pods {
    height: 5rem;
    margin-left: auto;
  }
}
.main__center__img-logo {
  height: 30rem;
}
.main__center__img-avo {
  height: 15rem;
}
@media screen and (max-width: 900px) {
  .main__center__img-avo {
    height: 5rem;
    margin-right: auto;
  }
}
@media screen and (max-width: 1200px) {
  .main__center__img-pods {
    margin-top: 5rem;
    height: 10rem;
  }
  .main__center__img-logo {
    height: 20rem;
    margin-left: 2rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 1200px) and (max-width: 900px) {
  .main__center__img-logo {
    padding: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .main__center__img-avo {
    height: 15rem;
  }
}
.main__center-welcomeMessage {
  width: 80%;
  margin: 3rem auto 3rem auto;
  text-align: center;
}
.main__center-btn {
  display: flex;
  width: 30rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto 4rem auto;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- FOOTER  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.footer {
  height: 15vh;
  background-image: url(../images/jpg/footer-img@2x.jpg);
  background-position: center;
  background-size: cover;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- FORM  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.form {
  width: 70%;
}
@media screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}
.form__header {
  width: 50%;
  margin: 0 auto 6rem auto;
  text-align: center;
}
.form__paragraph {
  width: 70%;
  text-align: center;
  margin: 0 auto 6rem auto;
}
.form__input {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .form__input {
    width: 90%;
  }
}
.form__question {
  margin: 0 auto 0 auto;
  display: flex;
}
@media screen and (max-width: 600px) {
  .form__question {
    flex-direction: column;
  }
}
.form input[type=text],
.form input[type=number],
.form select {
  margin: 2rem;
  border-style: none;
  border-bottom: 2px solid #224a95;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
}
.form input[type=text]:focus,
.form input[type=number]:focus,
.form select:focus {
  border-style: none;
  outline: none;
  border-bottom: 2px solid #efc600;
}
.form-btn {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- GRID  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.grid-weekly {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, minmax(min-content 1fr));
  grid-column-gap: 2rem;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .grid-weekly {
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: 0rem;
    margin: 0;
  }
}
.grid-daily {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (max-width: 600px) {
  .grid-daily {
    grid-template-columns: 1fr;
    margin-top: 10rem;
  }
}
.grid-form {
  display: grid;
  grid-template-columns: 6fr minmax(30rem, 1fr);
}
@media screen and (max-width: 1200px) {
  .grid-form {
    display: flex;
    flex-direction: column;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- TABLE  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.table {
  margin: auto;
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .table {
    margin: 0;
  }
}
.table__container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.table__container-table {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .table__container-table {
    display: flex;
  }
}
.table__container-plans {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .table__container-plans {
    grid-template-columns: 1fr 1fr;
  }
}
.table__container-plan {
  display: flex;
  justify-content: space-between;
}
.table__container-plan-item {
  text-decoration: none;
  text-align: center;
  width: 95%;
}
.table__container-plan-edit, .table__container-plan-delete {
  text-align: center;
  font-size: 2rem;
}
.table__links {
  margin: 0 auto 0 auto;
  display: flex;
  list-style-type: none;
  font-size: 2.4rem;
  justify-content: space-between;
}
.table__links-link {
  margin-right: 3rem;
  margin-left: 3rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #224a95;
  text-decoration: none;
}
.table__nav {
  text-align: center;
  margin-bottom: 3rem;
}
.table__nav__input {
  margin: auto;
}
@media screen and (max-width: 600px) {
  .table__nav__input {
    width: 100%;
    margin-top: 3rem;
  }
}
.table__nav__input input[type=text] {
  margin: 2rem;
  border-style: none;
  border-bottom: 2px solid #224a95;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
}
.table__nav__input input[type=text]:focus {
  border-style: none;
  outline: none;
  border-bottom: 2px solid #efc600;
}
.table__nav__input-save {
  margin-top: 3rem;
  width: 8rem;
}
.table__meals {
  font-size: 2rem;
  color: #224a95;
  padding-top: 5rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
@media screen and (max-width: 600px) {
  .table__meals {
    display: none;
  }
}
.table__weekly-cell, .table__daily-cell {
  height: 10rem;
  display: flex;
  border-right: 2px solid #224a95;
  border-bottom: 2px solid #224a95;
  color: #224a95;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-overflow: ellipsis;
}
.table__weekly-cell:hover, .table__daily-cell:hover {
  color: #efc600;
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- RECIPE  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.recipe {
  width: 80%;
  height: 650px;
}
.recipe__container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .recipe__container {
    display: flex;
    flex-direction: column;
  }
}
.recipe__container-recipe {
  display: flex;
  justify-content: space-between;
}
.recipe__container-recipe-item {
  text-decoration: none;
  text-align: center;
  width: 95%;
}
.recipe__container-recipe-edit, .recipe__container-recipe-delete {
  text-align: center;
  font-size: 2rem;
}
.recipe__saved {
  width: 17rem;
  margin: auto;
  display: flex;
  font-size: 2.4rem;
  justify-content: center;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  color: #224a95;
  border-bottom: 1px solid transparent;
}
.recipe__saved:hover {
  color: #efc600;
  border-bottom: 1px solid #efc600;
}
.recipe__links {
  display: flex;
  list-style-type: none;
  font-size: 2.4rem;
  justify-content: space-between;
}
.recipe__links-link {
  margin-right: 3rem;
  margin-left: 3rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #224a95;
  text-decoration: none;
}
.recipe__nav {
  text-align: center;
}
.recipe__nav__input {
  display: flex;
}
@media screen and (max-width: 600px) {
  .recipe__nav__input {
    flex-direction: column;
  }
}
.recipe__nav__input-header {
  text-align: center;
  margin: 3rem 0;
}
.recipe__nav__input input[type=text] {
  width: 25rem;
  margin: 2rem auto;
  border-style: none;
  border-bottom: 2px solid #224a95;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
}
.recipe__nav__input input[type=text]:focus {
  border-style: none;
  outline: none;
  border-bottom: 2px solid #efc600;
}
.recipe__save-btn {
  width: 18rem;
  height: 4rem;
  margin: 2rem auto;
}
.recipe__head-header {
  text-align: center;
}
.recipe__card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .recipe__card {
    display: flex;
    flex-direction: column;
  }
}
.recipe__card__wrapper {
  display: flex;
  flex-direction: column;
}
.recipe__card__info {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 600px) {
  .recipe__card__info {
    flex-direction: column-reverse;
  }
}
.recipe__card__info__basic__portion {
  display: flex;
}
.recipe__card__info-img {
  height: 15rem;
}
@media screen and (max-width: 600px) {
  .recipe__card__info-img {
    width: 100%;
  }
}
.recipe__card__info-ingredients {
  width: max-content;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 600px) {
  .recipe__card__info-ingredients {
    display: flex;
    flex-direction: column;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// 
------------------------------- SETTINGS  --------------------------------------
//////////////////////////////////////////////////////////////////////////////////*/
.settings {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .settings {
    width: 90%;
    justify-content: start;
  }
}
.settings__question {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
  font-size: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 600px) {
  .settings__question {
    margin-bottom: 3rem;
  }
}
.settings__question-header {
  font-size: 2rem;
}
.settings__question-btn {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .settings__question-btn {
    margin-bottom: 3rem;
  }
}
.settings__question select {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.settings__buttons {
  display: flex;
  justify-content: space-evenly;
}
.settings__buttons-btn {
  width: 10rem;
}
.settings__buttons-btn-clearStorage {
  width: 30%;
  margin: 10rem auto 10rem auto;
}
@media screen and (max-width: 600px) {
  .settings__buttons-btn-clearStorage {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
